*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
    border: solid 1px;
}

.display {
    width: 100%;
    height: 20vh;
    background: black;
    color: white;
    position: relative;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    background-color: white;
    padding: 1.6rem;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: gray;
}

.output {
    font-size: 32px;
    padding: 20px;
    overflow-x: auto;
}

.result {
    font-size: 32px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 5px;
    overflow-x: hidden;
}

